* {
	padding: 0px;
	margin: 0px;
	outline: none;
}
body {
	height: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	background-color: #fff;
}
ul {
	list-style: none;
}
a {
	color: #fff;
	text-decoration: none;
}
/*Header---------------START----*/
.container {
	width: 940px;
	margin: 0 auto;
}
header {
	position: absolute;
	width: 100%;
	padding-top: 40px;
}
.logo {
	float: left;
	width: 120px;
}
.menu {
	padding-top: 7px;
	float: right;
}

.current {
	border-top: 3px solid #fff;
}
.regestrazion {
	height: 550px;
	background:  url(../img/reg-img.jpg) no-repeat center bottom #222;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;

}
.home {
	height: 550px;
	background:  url(../img/bg-img.jpg) no-repeat center bottom #222;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
nav li {
	margin-top: 6px;
	float: left;
	margin-right: 45px;
}
nav li:last-child {
	margin-right: 0px;
}
nav li a {
	font-family: 'Muli', sans-serif;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
nav li a:hover {

	border-bottom: 3px solid #fff;
}

.center {
	text-align: center;
	padding-top: 200px;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
}
.center h3 {
	font-size: 35px;
	padding-bottom: 15px;
}
.center h1 {
	font-size: 60px;
	text-transform: uppercase;
}
.btn {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #fff;
	padding: 8px 20px 10px 20px;
	background-color: #fed136;
	border: 1px solid #fed136;
	border-radius: 3px;
}
.btn:hover {
	background-color: #e9b500;
	cursor: pointer;
	border: 1px solid #e9b500;
	color: #fff;
}
/*About*/
.box {
	padding: 100px 0px;
}
.services {
	text-align: center;
}
.services h2{
	font-family: 'Asap', sans-serif;
	font-size: 47px;
	font-weight: bold;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 10px;
}
.dexc {
	font-size: 18px;
	font-style: italic;
	color: #777777;
	margin-bottom: 60px;
}
h5.title {
	margin-bottom: 10px;
	font-family: 'Asap', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #222222;
}

#tblok {
	flex-direction: row;
	align-items: baseline;
}

.services-item p{
	font-size: 17px;
	color: #777777;
	line-height: 25px;
	padding-bottom: 100px;
}
.services-item{
	float: left;
	width: 33.33%;
	width: 275px;
	padding:  100px 17px 0px;
	margin-bottom: 130px;
}
.icon1{
 	background: url(../img/Complete.png) no-repeat center top;

}
.icon2{
	background: url(../img/Complete.png) no-repeat center top;

}
.icon3{
	background: url(../img/Complete.png) no-repeat center top;
}
/*Nyyyyyyyyyyyyyyyy*/
.info{
	margin-top: 300px;
	background: url(../img/Map-image.jpg) no-repeat 0 0;
}
.info h3{
	font-family: 'Asap', sans-serif;
	font-size: 47px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
	width: 370px;
	text-align: center;
	padding-left: 280px;
}
.info p{
	color: #dbdbdb;
	padding-right: 15px;
}
.info .btn{
	margin-bottom: 70px;
}
footer {
	height: 80px;
}
footer p {
	padding-top: 40px;
}
footer img {
	margin-left: 60px;
}
.footerendp2 {
	margin-top: 3px;
	font-size: 12px;
}
/*TEST*/
form .left {
	width: 45%;
}
form .right {
	width: 45%;
}
input .btn {
	padding-left: 30px;
}
.massege input[type="text"]{
	color: #222;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 12px 15px;
	box-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 25px;

	width: 100%;
}
/*CARD*/

.card{
	padding-left: 430px;
}
.test-otstyp{
	background: url(../img/Map-image.jpg) no-repeat 0 0;
	padding-left: 160px;
	font-size: 18px;
	padding-top: 200px;
	padding-bottom: 20px;
}
.cards .btn {
	margin-bottom: 50px;
}
.test-text {
	font-size: 20px;
	font-style: italic;
	color: #808080;
	margin-left: 10px;
	text-align: center;
	padding-bottom: 30px;
}
.tests .dexc{
	color: #cfcfcf;
}
.result-batton-margin {
	margin-bottom: 100px;
}
/*RESULT*/
.result .btn{
	margin-left: 540px;
}
.name {
	padding-top: 20px;
}
.name:first-child {
	padding-top: 45px;
}
.mark:last-child {
	padding-bottom: 145px;
}
.people h2 {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 550px;
	padding-top: 100px;
	padding-bottom: 100px;
	background: url(../img/bg-prik.jpg) no-repeat 0 0;
}
.mark {
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 20px;

}
.head-chpora-menu {
	margin-top: 40px;
}
.chpora {
	font-family: 'Quattrocento Sans', sans-serif;
	padding-bottom: 50px;
	font-size: 20px;
	line-height: 50px;
	padding-left: 25px;
}
.text-chpora-h2 h2{
	font-size: 42px;
	text-transform: uppercase;
	color: #454545;
	padding-left: 420px;
	font-weight: bold;
}
.text-chpora-h2 p{
	padding-left: 390px;
}
.card1:first-child {
	padding-top: 35px;
}
.card1 {
	font-size: 25px;
}
.carded .test-otstyp {
	padding-top: 50px;
	color: #d7d7d7;
	font-size: 26px;
}
.card-menu {
	padding-right: 130px;
}
input {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px 15px 10px 15px;
	font-size: 18px;
	width: 191px;
	color: #5d5d5d;
	margin-top: 25px;
	text-align: center;
}
.for_mark{
	cursor: default;
	border: 0px;
}
.buttons .btn {
	margin-bottom: 100px;
}
.text-warning-card {
	font-size: 30px;
	color: #ff4242;
	text-transform: uppercase;
	font-weight: bold;
}
.card-text-info {
	padding-left: 190px;
	padding-bottom: 60px;
}
.text-balls-info {
	color: #dedede;
	padding-top: 100px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	font-style: italic;
	text-align: center;
}
.ballsrealy {
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	color: #dcc000;
}
.dalls p{
	text-align: center;
	padding-right: 30px;
	padding-top: 60px;
}
.dalls .btn {
	margin-left: 530px;
}
.ballall {
	background: url(../img/bg-prik.jpg) no-repeat 0 0;
}
.center {
	text-align: center;
}
.ball {
	color: #dedede;
	text-align: center;
	text-transform: uppercase;

	font-weight: bold;

	padding-bottom: 100px;
	padding-left: 5px;
	font-size: 70px;
}
.error {
	color: #dedede;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
 	padding-bottom: 100px;
	padding-left: 5px;
	font-size: 70px;
}
.gtn {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #fff;
	padding: 8px 20px 10px 20px;
	background-color: #49ff7c;
	border: 1px solid #49ff7c;
	border-radius: 3px;
	margin-bottom: 50px;
}
.gtn:hover {
	background-color: #4cbc6c;
	cursor: pointer;
	border: 1px solid #4cbc6c;
	color: #fff;
}
.rtn {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #fff;
	padding: 8px 20px 10px 20px;
	background-color: #ff5050;
	border: 1px solid #ff5050;
	border-radius: 3px;
	margin-bottom: 50px;
}
.rtn:hover {
	background-color: #ff2e2e;
	cursor: pointer;
	border: 1px solid #ff2e2e;
	color: #fff;
}
.bltn {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #fff;
	padding: 8px 20px 10px 20px;
	background-color: #7ea9ff;
	border: 1px solid #7ea9ff;
	border-radius: 3px;
	margin-bottom: 50px;
}
.bltn:hover {
	background-color: #568eff;
	cursor: pointer;
	border: 1px solid #568eff;
	color: #fff;
}
.butright {
	float: left;
}
.text-info{
	color: #222222;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.imagesi {
	background: url(../img/infoone.jpg) no-repeat top center;
	width: 600px;
	margin-left: 180px;
}
.style-p {
	color: #222222;
	font-size: 30px;
	float: left;
	cursor: pointer;
	padding-bottom: 20px;
	margin-left: 35px;
	padding: 8px 10px 8px 10px;
	border: 3px solid #838383;
	margin-top: 10px;
	border-radius: 5px;
}
.infinitiv p {
	color: #49ff7c;
}
.gerundiy p {
	color: #ff5050;
}
.zet-clause p {
	color: #7ea9ff;
}
.teg-tabl p {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}
#tblok {
	float: left;
	padding-bottom: 20px;
	padding: 8px 10px 8px 10px;
	border: 3px solid #49ff7c;;
	margin-top: 10px;
	border-radius: 50px;
}
#tblok1 {
	float: left;
	padding-bottom: 20px;
	margin-left: 35px;
	padding: 8px 10px 8px 10px;
	border: 3px solid #ff5050;
	margin-top: 10px;
	border-radius: 50px;
}
#tblok2{
	float: left;
	padding-bottom: 25px;
	margin-left: 35px;
	padding: 8px 20px 8px 20px;
	border: 3px solid #7ea9ff;;
	margin-top: 10px;
	border-radius: 60px;
}
.tabliza {
	height: 400px;
}
#we3 {
	color: #7ea9ff;
	font-size: 21px;
	padding: 5px;
}
#we2 {
	color: #ff5050;
	font-size: 21px;
	padding: 5px;
}
#we1 {
	color: #49ff7c;
	font-size: 21px;
	padding: 5px;
}
.tables {
	height: 300px;
	margin-left: 31%;
}
.style-p:hover {
	border: 3px solid #616161;
	color: #0c0c0c;
}
.style-script {
	float: right;
}
.batonka {
	text-align: center;
}
.signin a{
	border-radius: 20%;
	padding: 6px 8px 6px 8px;
	font-size: 20px;
	background: #ffcfa0;
	border: #ffcfa0;
}
.signin a:hover {
	background: #ffbf80;
	border: #ffbf80;
}
.log-pass {
	margin-bottom: 100px;
	text-align: center;
	margin-top: 20px;
}
.log-pass-reg {
	margin-bottom: 100px;
	text-align: center;
}
/*CLEAR FIX*/
.clearfix .style-p .logo .menu .left .right:after {
	content:'';
	display: table;
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-right {
	text-align: left;
}
.div_for_form {
	align: center;
	width: 70%;
}
